

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 76, 87);
  min-height: 100vh;
}

.calc {
  height: 350px;
  width: 300px;
  background-color: white;
}

.btn-container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px repeat(5, 1fr);
}

.display {
  grid-column: 1 / 5;
}
#clear {
  grid-column: 1 / 3;
}
#zero{
  grid-column: 1 / 3;
}
#equals{
  grid-row: 5 / 7;
  grid-column: 4 / 5;
}
