

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 76, 87);
  min-height: 100vh;
}

.calc {
  height: 350px;
  width: 300px;
  background-color: white;
}
